{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
	<div>
		<h1>{{ item.title }}
		<figure class="creator">
			<img src="{{ creator.picture }}">
			<figcaption>{{ creator.name }}</figcaption>
		</figure>
		</h1>
	</div>
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}  
    		<ul>
    		{% for message in messages %}
    			<li> <strong> {{ message }} </strong> </li>
    		{% endfor %}
    		</ul>
    	{% endif %}
    {% endwith %}
</div>

<div class="menu-item">
	<h3>{{item.title}}</h3>
	<p>{{item.description}}</p>
	<a href='{{url_for('editAcheivment', company_id = item.company_id, acheivment_id = item.id ) }}'>Edit</a> | 
	<a href='{{url_for('deleteAcheivment', company_id = item.company_id, acheivment_id = item.id ) }}'>Delete</a>
</div>

{% endblock %}